.navTextMain, H1{
    color: rgb(21, 116, 92);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #173e43;
    color: rgb(50, 172, 141);
}

.UserList{
    background-color:rgba(0, 0, 0,.4);
    margin-top: -1rem;
    padding-top: .2rem;
    margin-right:-1.5rem;
    margin-left:-1.5rem;
    height: 20rem;
    max-width: 10rem;
    /*width: fit-content;*/
}

#userList{
    margin-left:-1.5rem;
}

.GroupList{
    background-color:rgba(0, 0, 0,.4);
    margin-top: -1rem;
    padding-top: .2rem;
    margin-right:-1.5rem;
    margin-left:-1.5rem;
    max-width: 10rem;
    height: 15rem;
}

#broadcastRow{
    margin-top: -2rem;
}

#sideAdd{
    position:relative;
    left:10rem;
    bottom: 2rem;
}

#columnRight{
    padding: 2rem;
}

#mainRow{
    width:auto;
}

/*=====================================================*/
/* Navigation Bar CSS */
/*=====================================================*/

#navbar{
    margin-left:1rem;
}

/*=====================================================*/
/* Login CSS */
/*=====================================================*/

#loginForm{
    width: 80%;
    margin-left:2rem;
    margin-top: 3rem;
}

#loginSelf{
    margin-left: 2rem;
}

#loginInfo{
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .2);
}

#myLogin{
    display: inline;
}

#mySign{
    display: inline-flex;
    width: 3rem;
    margin-top: -1rem;
}

#passShow{
    margin-top: 1rem;
    margin-left: 2rem;
    width:2rem;
    block-size: 1.5rem;
    display:inline-flex;
}

#newUser{
    margin-left:80%;
    margin-top: 4.2rem;
    min-width: 8rem;
}

#signInput{
    margin-bottom: 1rem;
}

/*=====================================================*/
/* Sign-Up CSS */
/*=====================================================*/

#signPost{
    margin-top: 5rem;
    width: 80%;
    margin-left:10%;
}

#signupInfo{
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .2);
}

#signSubmit{
    width:10rem;
    margin-left:20%;
    margin-bottom: 2rem;
}

#checkLabel{
    display: inline-flex;
    vertical-align: 20%;
}

/*=====================================================*/
/* Send Message CSS */
/*=====================================================*/
#submitBlock{
    border:none;
    display: inline-flex;
    place-items: center;
}

#submitMessage{
    background-image: url("../images/send1.png");
    margin: .6rem;
    width:3rem;
    height:3rem;
    background-size: 100% 100%;
    border:none;
    border-radius: 100rem;
    background-color: transparent;
    background-repeat: no-repeat;
}

#broadcast{
    display:inline-flex;
}

#broadcast_data{
    width:auto;
    opacity: .7;
    min-height:4rem;
}

#sendArea{
    display:inline-flex;
    width:90%;
    margin-left:1rem;
}

.notesEdited{
    display:inline-flex;
}


.noteED{
    display:flex;
}

/*=====================================================*/
/* Message Area with Buttons*/
/*=====================================================*/
#messageArea{
    width:max-width;
    height: 30rem;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1rem;
    display: -ms-flexbox;
}

.chatStuff{
    color:rgb(52, 180, 159);
    width: auto;
    background-color:transparent;
    height: auto;   
    text-align: left;
    padding: .1rem;
    border:none;
    display: inline-flex;
}

#log{
    width: 100%;
    height:max-content;
 }

#edDel{
    height: 1.8rem;
    width: auto;
    display: inline-flex;
}

/*EDIT button*/
#editB{
    border:none;
    background-color:rgb(255, 255, 255,.5);
    display:inline-flex;
    border-radius: 2rem;
    height:1.8rem;
    width:auto;
    margin-right: .1rem;
    opacity: .4;
}

#editB:hover{
    border:transparent;
    background-color:transparent;
    border-radius: 2rem;
    margin-right: .1rem;
    background-color:goldenrod;
    opacity: .9;
}

/*
 #editImage{
    height:auto;
    width:1.2rem;
 }*/

/*CLOSE button*/
#closeX{
    border:none;
    height:auto;
    background-color:rgb(255, 255, 255,.5);
    width:1.2rem;
    border-radius: 1rem;
    opacity:.4;
    display:inline-flex;
}

#closeX:hover{
    background-color: red;
    opacity:.9;
}

/*=====================================================*/
/* Modal CSS Stuff*/
/*=====================================================*/
#mod{
    background-color:rgba(0, 0, 0, 0.4);
}

#modClose{
    color:red;
}

#modHead{
    border:none;
}

#modBody{
    border:none;
}

#modFoot{
    border:none;
}

#modalEdit{
    width:100%;
}

/*=====================================================*/
/* Users CSS Stuff*/
/*=====================================================*/

#userLink{
    color: turquoise;
    text-decoration: none;
    background-color:none;
    background:none;
    border:none;
    margin-top:.2rem;
    padding:0;
    padding-right: 1rem;
}

#uList{
    margin-left:-1.5rem;
}

#dMessage{
    display: flex;
    margin-left: -1.5rem;
}

#bubble{
    margin-top:.4rem;
    margin-left: -.6rem;
    inline-size: .1rem;
}

/*=====================================================*/
/* Channel CSS Stuff*/
/*=====================================================*/

#channelAdd{
    display:inline-flexbox;
    font-weight: bolder;
    margin-left: -1.5rem;
    width:150%;
    height:auto;
}

#chanText{
    width:auto;
    display:inline-flex;
}

#addChan{
    margin-left:1rem;
    background: none;
    width: auto;
    height:max-content;
    transform: rotate(90deg);
    display:inline-flex;
}

.addSign:hover{
    height:2rem;
    width:2rem;
    margin-top:-.5rem;
    color:darkslategray;
}

#searchChan{
    margin-left:1rem;
    background: none;
    width: auto;
    height:min-content;
    display:inline-flex;
}

.searchChan:hover{
    height:1.8rem;
    width:1.8rem;
    margin-top: -1rem;
    color:darkslategray;
}


/*=====================================================*/
/* Add Channel Modal CSS Stuff*/
/*=====================================================*/

#userNum{
    width:fit-content;
}


/*=====================================================*/
/* Search Channel Modal CSS Stuff*/
/*=====================================================*/

#chanButt{
    margin-left: .2rem;
    margin-bottom: .5rem;
}


/*=====================================================*/
/* Account Settings CSS Stuff*/
/*=====================================================*/

#currentDiv{
    width:50%;
    font-size: 1.2rem;
    margin-left: 25%;
    position:absolute;
}


#userData{
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    height:max-content;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#aTitle{
    background: none;
    text-align: center;
}

#setButt{
    background-color:darkorange;
    padding-right: 1rem;
    padding-left: .5rem;
    width:fit-content;
    color:black;
    border-radius: 0rem 1rem 1rem 0rem;
    font-weight:bolder;
    position:absolute;
    margin-left: 70%;
    margin-top: -2rem;
}

#topDiv{
    align-items: center;
    display:inline-flex;
}

/*=====================================================*/
/* Scroll Bar CSS Stuff*/
/*=====================================================*/

/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f0c0c27;
    border-radius: .5rem;
    background:none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkslategray;
    border-radius: .3rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: dimgray; 
  }