.navTextMain, H1{
    color: rgb(50, 172, 141);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #173e43;
    color: rgb(50, 172, 141);
}

.UserList{
    background-color:rgba(0, 0, 0,.5);
    margin-top: -1rem;
    padding-top: .2rem;
}

#sideAdd{
    position:relative;
    left:10rem;
    bottom: 2rem;
}

#columnRight{
    padding: 2rem;
}

#mainRow{
    width:auto;
}

/*=====================================================*/
/* Login CSS */
/*=====================================================*/


/*=====================================================*/
/* Send Message CSS */
/*=====================================================*/
#submitBlock{
    border:none;
    display: inline-flex;
    place-items: center;
}

#submitMessage{
    background-image: url("../images/send1.png");
    margin: .6rem;
    width:3rem;
    height:3rem;
    background-size: 100% 100%;
    border:none;
    border-radius: 100rem;
    background-color: transparent;
    background-repeat: no-repeat;
}


#broadcast{
    display:inline-flex;
}


#broadcast_data{
    width:auto;
}

#sendArea{
    display:inline-flex;
    width:100%;
}

/*=====================================================*/
/* Message Area with Buttons*/
/*=====================================================*/
#messageArea{
    width:max-width;
    height: 30rem;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1rem;
}

#chatStuff{
    color:rgb(52, 180, 159);
    max-width: max-content;
    background-color:transparent;
    height: 1.8rem;   
    text-align: left;
    padding: .1rem;
    margin-top: .3rem;
    border:none;
}

#otherList{
    color:rgb(52, 180, 159);
    max-width: auto;
    max-width: max-content;
    background-color:transparent;
    padding: .1rem;
    padding-right: .5rem;
    margin: .1rem;
    border-radius: 1rem;
    height: auto;   
    border: none;
}

#log{
    display:inline-flexbox;
 }

#edDel{
    display:inline-flex;
    height: 1.8rem;
    width: auto;
}

/*EDIT button*/
#editB{
    border:none;
    background-color:transparent;
    display:inline-flex;
    border-radius: 2rem;
    height:auto;
    width:auto;
    margin-right: .1rem;
    opacity: .4;
}

#editB:hover{
    border:transparent;
    background-color:transparent;
    border-radius: 2rem;
    margin-right: .1rem;
    background-color:goldenrod;
    opacity: .9;
}

 #editImage{
    height:auto;
    width:1.2rem;
 }

/*CLOSE button*/
#closeX{
    border:none;
    width:1.2rem;
    height:auto;
    border-radius: 1rem;
    opacity:.4;
}

#closeX:hover{
    background-color: red;
    opacity:.9;
}

/*=====================================================*/
/* Modal CSS Stuff*/
/*=====================================================*/
#mod{
    background-color:rgba(0, 0, 0, 0.6);
}

#modClose{
    color:red;
}

#modHead{
    border:none;
}

#modBody{
    border:none;
}

#modFoot{
    border:none;
}

#modalEdit{
    width:100%;
}
/*=====================================================*/