{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST" id = "signPost">
      <div class = "shadow" id = "signupInfo">
        <br>
        <h3 align="center">Sign Up</h3>
        <hr>
        <div class="form-floating" id = "signInput">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter Email"
          />
          <label for="email">Email Address</label>
        </div>
        <div class="form-floating" id = "signInput">
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter Username"
          />
          <label for="firstName">Username</label>
        </div>
        <div class="form-floating" id = "signInput">
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter Password"
          />
          <label for="password1">Password</label>
        </div>
        <div class="form-floating" id = "signInput">
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm Password"
          />
          <label for="password2">Password (Confirm)</label>
          <br>
          <br>
        <input type ="checkbox" id ="passShow"  onclick="showPass2()"> <div id = "checkLabel">Show Passwords</div>
      </div>
      <br>
      <button type="submit" id = "signSubmit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}